
.security {

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include tablet {
      grid-template-columns: 1fr;
      gap: 60px;
    }
  }

  .security-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 40px 40px 70px;
    gap: 20px;

    @include tablet {
      max-width: 560px;
      gap: 10px;
      padding: 20px;
      margin-inline:  auto;
    }

    &__image {
      margin-bottom: -114px;
    }

    &__description {
      margin-top: fluid(20, 10);
    }
  }
}