.why {
  display: flex;
  flex-direction: column;
  row-gap:  fluid(70, 40);
  margin-top: fluid-to-laptop(-150, 0);

  &__title {
    text-align: center;
  }

  &__grid {
    padding-bottom: 6px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    &--centered {
      @include mobile {
        text-align: center;
      }
    }

    @include laptop {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    border: 1px solid rgba(75, 85, 99, 0.1);
    border-radius: 20px;
    line-height: 1.2;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    width: 100%;

    &:nth-child(3) {
      grid-column: span 1;

      @include laptop {
        grid-column: span 2;
      }

      @include tablet {
        grid-column: span 1;
      }
    }

    @include tablet {
      max-width: 560px;
      margin-inline: auto;
    }

    @include mobile {
      max-width: 100%;
    }

    &__header {
      position: relative;
    }

    &__circle {
      width: fluid(400, 300);
      height: fluid(400, 300);
    }

    &__image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: fluid(260, 246);
      height: fluid(260, 246);
    }

    &__body {
      padding: 0 fluid(40, 10) fluid(40, 20);
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    &__list:has(:not(:only-of-type)) {
      list-style-type: disc;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    &__item {
      color: var(--color-gray-4b);
      font-size: fluid(24, 18);
    }
  }
}