.hero {
  min-height: fluid(1215, 1075);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/src/assets/images/main/1.png");
  background-size: cover;
  background-position: bottom;

  @include tablet {
    padding-top: 154px;
    overflow: hidden;
  }

  &__wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;

    @include tablet {
      flex-direction: column;
    }
  }

  &__bg {
    width: 1510px;
    height: 639px;
    position: absolute;
    left: 0;
    top: 28px;
    pointer-events: none;
    max-width: max-content;
  }

  &__content {
    max-width: fluid(840, 370);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

    @include tablet {
      max-width: 100%;
      align-items: center;
      text-align: center;
    }
  }

  &__title {

    @include mobile {
      text-align: center;
    }
  }

  &__description {
    margin-top: 36px;
    color: var(--color-white);

    @include mobile {
      text-align: center;
      margin-top: 24px;
    }
  }

  &__image {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -116px;
    max-width: max-content;
    inline-size: fluid-to-laptop(1187, 611);
    block-size: fluid-to-laptop(1287, 633);

    @include tablet {
      transform: translateY(0%);
      top: auto;
      bottom:  fluid(130, 0);
      right: auto;
    }
  }

  &__button {
    margin-top: 48px;
  }
}