* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(24, 18);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-black-4b);
  background-color: var(--color-white);
  line-height: 1.3;
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-black-07);
}

h1, .h1 {
  @include fluid-text(100, 48);

  color: var(--color-white);
  font-weight: 400;
  line-height: 0.9;
}

h2, .h2 {
  @include fluid-text(70, 44);

  font-weight: 400;
  line-height: 1.1;
}

h3, .h3 {
  @include fluid-text(36, 28);

  font-weight: 600;
}

h4, .h4 {
  @include fluid-text(24, 18);

  font-weight: 600;
}

h5, .h5 {
  @include fluid-text(22, 18);

  font-weight: 500;
}

h6, .h6 {
  @include fluid-text(20, 16);

  font-weight: 600;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-red-45);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}

.font-semibold {
  font-weight: 600;
}

section {
  overflow: hidden;
}
