.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);

  &--sm {
    --container-width: 1200px;
  }
}

.visually-hidden {
  @include visually-hidden;
}

.visible-tablet {
  @include tablet-above {
    display: none !important;
  }
}

.hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.main-wrapper {
  background-image: image-set(
                  url("@/assets/images/bg-main.webp") 1x,
                  url("@/assets/images/bg-main-2x.webp") 2x
  );
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;

  @include mobile {
    background-image: image-set(
                    url("@/assets/images/bg-main-mobile.webp") 1x,
                    url("@/assets/images/bg-main-mobile-2x.webp") 2x
    );
  }
}