:root {
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-green-d4: #D4F770;

  --color-black-07: #071220;
  --color-black-4b: #4B5563;

  --color-gray-4b: #4B5563;
  --color-gray-9e: #9EA4AC;
  --color-gray-ed: #EDEEEF;

  --border: var(--border-width-s) solid var(--color-black-15);

  --border-width-l: 4px;
  --border-width-m: 3px;
  --border-width-s: 1px;

  --border-radius-l: 12px;
  --border-radius-m: 10px;
  --border-radius-s: 8px;
  --border-radius-xs: 6px;
  --border-radius-xxs: 5px;
  --border-radius-xxxs: 4px;

  --font-family-base: 'Proxima Nova', sans-serif;
  --font-family-inter: 'Inter', sans-serif;

  --container-width: #{fluid-to-laptop(
    $container-desktop-width,
    $container-laptop-width
  )};
  --container-padding-x: 10px;

  --section-padding-y: #{fluid(70, 40)};

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
}