.gaming{
  margin-top: fluid(160, 80);

  &--mt-92 {
    margin-top: fluid(92, 80);
  }

  &__title{
    text-align: center;
  }

  &__content {
    margin-top: fluid(70, 40);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .gaming-card {
    padding: 20px 20px 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(75, 85, 99, 0.1);
    border-radius: 20px;
    background: rgba(241, 243, 244, 0.5);
    gap: 60px;

    &--reverse {
      flex-direction: row-reverse;
    }

    @include tablet {
      max-width: 560px;
      margin-inline: auto;
      padding: 0;
      flex-direction: column-reverse;
      gap: 20px;
    }

    &__content {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: fluid(20, 10);
      max-width: 1040px;

      @include tablet {
        padding: 0 10px 20px;
      }
    }

    &__image{
      object-fit: cover;
      object-position: center;
      aspect-ratio: 580 / 412;
      block-size: fluid(412, 263);
      width: 100%;
      max-width: 580px;
      border-radius: 20px;

      @include tablet {
        max-width: 100%;
      }
    }

    &__items {
      display: flex;
      gap: 10px;
      max-width: 800px;
      flex-wrap: wrap;

      @include mobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &__item {
      border-radius: 100px;
      padding: 12px;
      width: 144px;
      height: 54px;
      backdrop-filter: blur(60px);
      box-shadow: inset 0 -1px 10px 0 rgba(255, 255, 255, 0.25);
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      @include mobile {
        width: 100%;
      }
    }
  }
}