.bottom-section {
  margin-top: fluid(200, 60);
  position: relative;
  background-image: url('/src/assets/images/main/analytics/1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  border-radius: 20px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  overflow: visible;

  @include mobile {
    overflow: hidden;
  }
}

.analytics {
  overflow: visible;
  padding: 40px;
  color: var(--color-white);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  @include mobile {
    padding: 70px 10px 0;
    align-items: center;
    text-align: center;

  }

  &__title {
    color: inherit;
  }

  &__description {
    margin-top: 16px;

    @include mobile {
      margin-top: 10px;
    }
  }

  &__button {
    margin-top: 32px;
  }

  &__image {
    position: absolute;
    right: 0;

    bottom: 0;
    width: fluid(911, 517);

    @include mobile {
      margin-top: 75px;
      position: static;
      width: 517px;
      margin-left: 60px;
      max-width: max-content;
    }
  }
}