.merchant-terms {
  padding-top: fluid-to-laptop(316, 168);
  overflow: visible;

  &__header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: fluid(36, 20);
    margin-bottom: 181px;

    @include mobile {
      margin-bottom: 210px;
    }
  }

  &__body {
    color: var(--color-black);
  }

  &__title {
    font-weight: 400;
    max-width: 800px;
    line-height: 0.9;
    font-size: fluid(100, 48);
  }

  &__subtitle {
    line-height: 1.3;
    max-width: 920px;
    font-size: fluid(28, 20);
    color: white;
  }

  &__list {
    list-style: none;
    counter-reset: custom-counter;

    &-item {
      counter-increment: custom-counter;
      overflow: visible;

      &::before {
        content: counter(custom-counter) ".";
        font-size: fluid(36, 28);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: -38px;
        padding-right: 16px;
        width: 38px;
        font-weight: 600;
        color: var(--color-black);

        @include laptop-sm {
          margin-left: 0;
          width: 25px;
        }
      }

      &:nth-child(n + 10)::before {
        width: 50px;
        margin-left: -52px;

        @include laptop-sm {
          margin-left: 0;
        }
      }

      &:not(:last-child) {
        margin-bottom: fluid(60, 20);
      }

      &-inner {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }

      &-title {
        color: var(--color-black);
        margin-bottom: 20px;
        font-size: fluid(36, 28);
        font-weight: 600;
        display: inline-flex;
        text-wrap: balance;

        @include mobile {
          max-width: 305px;
        }
      }

      &-text {
        color: var(--color-gray-4b);
        font-size: fluid(24, 18);
        line-height: 1.3;

        @include tablet {
          font-weight: 400;
          line-height: 1.2;
        }
      }
    }
  }

  &__text-bold {
    font-weight: 700;
    margin-right: 7px;
  }
}
