.possibilities {
  margin-top: fluid-to-laptop(-150, 0);
  border-radius: 20px;
  padding: 60px 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: fluid-to-laptop(120, 60);
  row-gap: fluid(30, 10);

  @include tablet {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  &--dark {
    margin-top: fluid(60, 80);
    background: rgba(241, 243, 244, 0.5);
  }

  .possibilities-card {
    text-align: center;

    @include  tablet {
      max-width: 560px;
      margin-inline:  auto;
    }

    &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    &__header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }

    &__image {
      inset-inline: 260px;
      block-size: 260px;

      @include mobile {
        inset-inline: 235px;
        block-size: 235px;
      }
    }

    &__circle {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 400px;
      height: 400px;
      max-width: max-content;
    }
  }
}