.dialog {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 199;
  border: none;
  width: 100%;
  background: transparent;
  padding: 0;
  height: 100vh;

  @include mobile {
    margin: 0;
  }

  &[open] {
    display: flex;
    align-items: center;
  }

  &__backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
  }

  &__inner {
    overflow: auto;
    background: var(--color-white);
    border-radius: var(--border-radius-l);
    background: var(--color-white);
    position: relative;
    max-width: 800px;
    padding: 30px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;


    @include mobile {
      max-width: 100%;
      overflow-y: auto;

      /* учёт вырезов и нижней плашки */
      padding-top: calc(30px + env(safe-area-inset-top));
      padding-bottom: calc(50px + env(safe-area-inset-bottom));

      height: calc(100vh + env(safe-area-inset-bottom));
      border-radius: 0;
    }
  }

  &__close-dialog {
    position: absolute;
    top: 18px;
    right: 18px;
    background: transparent;
    color: var(--color-black);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    @include square(44px);

    @include mobile {
      left: 0;
      top: 5px;
    }
  }

  &__form-wrapper {
    display: block;
    &.is-hidden {
      display: none;
    }
  }

  &__title {
    color: var(--color-black-07);
    font-weight: 600;
    line-height: 1.2;
    font-size: fluid(36, 28);
    text-align: center;
    margin-bottom: 30px;
  }

  &__control:last-child {
    grid-column: span 2;

    @include mobile {
      grid-column: span 1;
    }
  }

  &__main {
    &-body {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin-bottom: 20px;

      @include mobile {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &-footer {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
  }

  .dialog__error {
    color: #e53935;
    font-size: 13px;
    margin-top: 4px;

    &.is-hidden {
      display: none;
    }
  }

  .is-error {
    border-color: #e53935 !important;
  }

  &__input {
    border-radius: var(--border-radius-xs);
    border: 1px solid var(--color-gray-4b);
    height: 46px;
    width: 100%;
    padding: 12.5px 10px;

    &::placeholder {
      color: var(--color-gray-4b);
      line-height: 1.3;
      font-size: 16px;
    }
  }

  &__textarea {
    resize: none;
    border-radius: var(--border-radius-xs);
    border: 1px solid var(--color-gray-4b);
    padding: 10px;
    min-height: 92px;
    width: 100%;

    &::placeholder {
      color: var(--color-gray-4b);
      line-height: 1.3;
      font-size: 16px;
    }
  }

  &__send {
    max-width: 200px;
    width: 100%;
    display: flex;
    margin-inline: auto;
  }

  &__success {
    display: flex;
    margin-block: auto;

    &.is-hidden {
      display: none;
    }

    flex-direction: column;
    align-items: center;
    text-align: center;

    &-description {
      margin-top: 10px;
      margin-bottom: 30px;
    }

  }
}
