.footer {
  margin-top: fluid(90, 20);
  padding-block: fluid(60, 40);
  display: flex;
  flex-direction: column;
  row-gap: 46px;

  &__wrapper {
    background-image: url("/src/assets/images/main/footer/1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    @include mobile {
      background-size: contain;
      background-position: top center;
    }
  }

  &__inner {
    justify-content: space-between;
    display: flex;
    flex-direction: row;

    @include mobile {
      flex-direction: column-reverse;
    }
  }

  &__info, &__copyright, &__email-label {
      color: #9DA3AB;
  }

  &__info {
    max-width: 600px;
    width: 100%;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @include mobile {
      border-top: 1px solid #d9d9d9;
      padding-top: 30px;
      margin-top: 30px;
    }
  }

  &__contacts {
    margin-top: 20px;
    max-width: 900px;
    width: 100%;
  }

  &__email {
    font-size: 36px;
    font-weight: 600;
    margin-top: 10px;
  }

  &__contacts-logo {
    margin-bottom: 40px;

    @include mobile-above {
      display: none;
    }
  }

  &__list {
    display: flex;
    column-gap: 30px;
    color: var(--color-black-4b);
    margin-top: 30px;

    @include mobile {
      flex-direction: column;
      row-gap: 20px;
    }
  }
}